{# app/Ressources/Views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Second Player{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset ('css/bootstrap.css') }}">
    <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
</head>
<body>

{% block body %}
{% endblock %}

</body>
</html>